 <div class="announcements">
      <div class="chatArea">
      <p ng-repeat="announcement in announcements" class="alert alert-warning">
        <span ng-bind="announcement.message"></span>
        (<span ng-bind="announcement.timestamp" class = "posttime"></span>)
        (<span ng-bind="announcement.status"></span>)
      <p>     
    </div>
    <div class="sendMsg"> 
      <input ng-model="chatMessage" class="col-xs-9" id="ex3" type="text" height="20%"placeholder="Type your message.." required autofocus>
      <button ng-click="postAnnouncement()" type="submit" class="btn btn-success pull-right">Send</button>
    </div>
</div> 