
		<div ng-controller="chatController" class="chat-container">
			<div class = "welcomeMsg">
				<b> Welcome to Brics SSNOC Chat </b>

			</div>	
			
			<div class="row">
      
			
      <div class="pull-right" id="directory">
       <div ng-repeat="member in directory|orderBy:['status','name']">
        		<p ng-show="isOnline(member.status)" style="color:green;" ng-bind="member.name"></p>
   		</div>
      <div ng-repeat="member in directory|orderBy:['status','name']">
        <p ng-show="!isOnline(member.status)" style="color:red;" ng-bind="member.name"></p>
      </div>
       <button ng-click="logout()" type="submit" class="btn btn-primary" id="logoutbt">Logout</button>

		</div>
				<div class="chatArea">
					<p ng-repeat="message in messages">
            <b><span ng-bind="directoryDict[message.member_id].name"></span></b>: &nbsp &nbsp
						<span ng-bind="message.message"></span>
            (<span ng-bind="message.timestamp" class = "posttime"></span>)
            (<span ng-bind="message.status"></span>)
					<p>			
				</div>
		</div>

				<div class="sendMsg"> 
				<input ng-model="chatMessage" class="col-xs-9" id="ex3" type="text" height="15%"placeholder="Type your message.." required autofocus>
					
				<button ng-click="sendMessage()" type="submit" class="btn btn-success pull-right">Send</button>
				</div>

		</div>
