
   <div class="chatArea">      
      <div class="list-group" id="directory">
        <a href="#" class="list-group-item disabled">
         Community Member:
        </a>
     <div ng-repeat="member in directory|orderBy:['status','name']">
        <p ng-click='newPrivateChat(member._id)' ng-show="isOnline(member.status)" class="list-group-item"style="color:green;" ng-bind="member.name">
        </p>
      </div>
      <div ng-repeat="member in directory|orderBy:['status','name']">
        <p ng-show="!isOnline(member.status)" class="list-group-item"style="color:red;" ng-bind="member.name"></p>
      </div>  
      </div>
  </div>