<div class="ssnoc-container">
  <form>
    <div>
      <span>Username</span>
      <input type="text" name="username" ng-model="profile.username">
    </div>
    <div>
      <span>Password</span>
      <input type="text" name="password" ng-model="profile.password">
    </div>
    <div>
      <span>Privilege</span>
      <input type="text" name="permissionId" ng-model="profile.permissionId">
    </div>
    <div>
      <span>Account Status</span>
      <input type="text" name="accountStatus" ng-model="profile.accountStatus">
    </div>

    <button ng-click="updateProfile()" type="submit" class="btn btn-success">Save</button>
    <button ng-click="cancel()" type="submit" class="btn btn-success">Cancel</button>
  </form>
  <p ng-bind="message" style="color:red;"></p>
</div>